[submodule "externals/svgpp"]
	path = externals/svgpp
	url = https://github.com/svgpp/svgpp.git
[submodule "externals/rapidxml_ns"]
	path = externals/rapidxml_ns
	url = https://github.com/svgpp/rapidxml_ns.git
[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
